<%= form_for(@inventory_part) do |f| %>
  <% if @inventory_part.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory_part.errors.count, "error") %> prohibited this inventory_part from being saved:</h2>

      <ul>
      <% @inventory_part.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
