<div>
  <div>
    <h2>Name:</h2>
    <%= auction.name %>
    <%= auction.company.name %>
  </div>

  <div>
    <h2>Description:</h2>
    <%= auction.description %>
  </div>

  <div>
    <h2>Top bid:</h2>
    <%# render @top_bid %>
  </div>
</div>
